/*COMMON*/
body{
    font-family: HGG, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size: 20px;
    font-weight: 700;
    height: 3000px;
    background-color: #f2ebe6;
}

header>.wrapper{
    display:flex;
    flex-direction: column;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    position: fixed;
    width: 100%;
    height: 95px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    font-size: 10px;
}

header .logo{
    position: absolute;
    top:0;
    bottom: 0;
    left: 140px;
    margin: auto 0;
}

header .logo img{
    width: 83;
    height: 82;
    top: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
}

header .menu{
    width: 792.408px;
    height: 95px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    
}

header .menu .header--primary{
    position: relative;
    height: 5px;
    display: flex;
    font-size: 20px;
    
}

header .menu .header--primary ul.main {
    position: relative;
    display:flex;
    flex-grow: 1;
    

}

header .menu .header--primary ul.main li.item {
    position: relative;
    display: block;
    width: 80%;
    line-height: 50px;
}

header .menu .header--primary ul.main li.item .item__title {
    
    width: 100%;
    height: 75px;
    padding-bottom: 20px; /*안쪽 여백 영역 설정*/
    font-weight: 700;
    font-size: 23px;
    text-align: left;
    line-height: 55px;
    cursor: inherit;/*커서 모양 지정*/
}

header .menu .header--primary ul.main li.item .item__category{
    position: absolute;
    width: 100%;
    font-size: 23px;
    text-align: left;
    line-height: 55px;
    padding-left: 20px;
    padding-top: 30px;
    display: none;
}

header .menu .header--primary ul.main li.item:hover .item__category{
    display: block;
}
 header #hamburger__icon{
    display: none;
 }
/* MAIN SLIDER */

main .inner #slider {
    width: 100%;
    height: 78vh;
    overflow: hidden;
    position: relative;
}

main .inner #slider .slide {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}

main .inner #slider .slide1 {
    background-image: url(../img/slider01.png);
}

main .inner #slider .slide2 {
    background-image: url(../img/slider02.png);
}

main .inner #slider .slide3 {
    background-image: url(../img/slider03.png);
}

main .inner #slider .slide4 {
    background-image: url(../img/slider04.png);
}

main .inner #slider .slide5 {
    background-image: url(../img/slider05.png);
}

main .inner #slider .slide6 {
    background-image: url(../img/slider06.png);
}

main .inner #slider .slide7 {
    background-image: url(../img/slider07.png);
}


/* SLIDE CONTENT*/

main .inner #slider .slide__content {
    width: 100%;
    height: 78vh;
    display:inline-block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main .inner #slider .slide__content span {
    font-size: 80px;
    color: #fff;
}

/* SLIDER ARROW */

main .inner #slider .arrow {
    position: absolute;
    top: 50%;
    font-size: 80px;
    margin-top: -40px;
    color: #F6F5F0;
    cursor: pointer;
     z-index: 2;
}

main .inner #slider .arrow--left {
    left: 0px;
}

main .inner #slider .arrow--right {
    right: 0px;
}

/* SLIDER DOTS */

main .inner #slider .dots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .inner #slider .dots .dot {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    background: #fff;
    margin: 0 3px;
    cursor: pointer;
    transition: .4s ease;
}

main .inner #slider .dots .dot1 {
    background:red;
}

main .YouTube {
    display:inline-block;
    width: 100%;
    height: 600px;
    vertical-align: middle;
}

main .sns{
    width: 100%;
    height: 400px;
    vertical-align: middle;
    background-color: #683a2f;
}
@media screen and (min-width: 768px) and (max-width: 959px){
    
}
