/*COMMON*/
body{
    font-family: HGG, "Malgun Gothic", "맑은 고딕", dotum, 돋움, sans-serif;
    font-size: 20px;
    font-weight: 900;
    height: 3000px;
    background-color: #f2ebe6;
}

header>.wrapper{
    display: flex;
    flex-direction: column;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

/*HEADER*/
header{
    position: fixed;
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    z-index: 3;
    font-size: 20px;
}

header .logo{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 140px;
    margin: auto 0;
}

