

body{
    font-family: 'Malgun Gothic';
    font-size: 25px;
    font-weight: 1000;
    line-height: 1.5;
    background: #f2ebe6;
    height: 3000px;
}

.wrapper{
    width: 1000px;
    margin: 0 auto;
    position: relative;
}

img{
    display: block;
}

a{
    text-decoration: none;
}

header{
    background: white;
    height: 120px;
    width: 100%;
    justify-content: center;
    display: flex;
    position: fixed;
}

header>.wrapper {
    display: flex;
    flex-direction: column;
}

header .logo{
    position: absolute;
    top: 100px; 
    bottom: 0;
    left: 0;
    margin: auto;
}

header .logo img {
    width: 70px;
    height: 70px;
    top: 0;
    bottom: 0;
    margin: auto 0;
    position: absolute;
}
header .menu {
    position: absolute;
    top: 40px;
    left: 200px;
    width: calc(100% - 100px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

header .menu .header--primary {
    position: relative;
    height: 55px;
    display: flex;
}

header .menu .header--primary ul.main {
    position: relative;
    display: flex;
    flex-grow: 1;
    margin: auto;
}

header .menu .header--primary ul.main li.item {
    position: relative;
    display: block;
    width: 280px;
}
header .menu .header--primary ul.main li.item .item__title {
    padding: 0 18px;
    height: 55px;
    align-items: center;
    margin: auto;
    transition: .4s;
    cursor: pointer;

}

header .menu .header--primary ul.main li.item .item__title .item__name {
    font-size: 25px;
    font-weight: 800;
    line-height: 1.0;
}

header .menu .header--primary ul.main li.item .item__title .item__name .material-icons-outline {
    font-size: 40px;
    padding-left: 5px;
}
header>.iframe {
    display: flex;
    flex-direction: column;
}
